{
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "node/no-deprecated-api": "off",
    "no-console": "off",
    "no-unused-vars": "off",
    "no-empty": "off",
    "node/no-unsupported-features/node-builtins": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "no-func-assign": "off",
    "no-global-assign": ["error", {"exceptions": ["exports"]}]
  }
}
